@use "../scss/vars.scss" as vars;



.topLogoSvg {
    width: 200px;
    @media screen and (min-width: vars.$screen-md) {
        width: 300px;
    }
}

.teal {
    fill: vars.$teal;
}

.blue {
    fill: vars.$blue;
}
