.mainHeader {
    background-color: $blue;
    position: absolute;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: $displayText;
        text-transform: uppercase;
        font-size: 1.1em;
        text-align: center;
        gap: 2px;
    }
    a {
        text-decoration: none;
        transition: background-color .4s ease;
        padding: 5px 18px;
        border-radius: 6px;
    }
    a:link, a:active, a:visited {
        color: #fff;
    }
    a:hover {
        background-color: $teal;
    }

    a.reserveButton {
        &:link, &:active, &:visited {
            background-color: $teal;
        }
        &:hover {
            background-color: $ob-orange;
        }
    }
}

.header-present {
    padding-top: 64px;
}