
.sr-only {
    position: absolute;
    left: -999em;
}

*, *::before, *::after {
    box-sizing: border-box;
}




.imHome {
    margin-top: -64px;
}


a.button {
    padding: 8px 10px;
    background-color: $teal;
    color: #fff !important;
    border-radius: 4px;
    margin: 10px 0;
    display: block;
    text-align: center;
}

button.cartIcon, a.cartIcon {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border: none;
    position: relative;
    right: 5px;
    padding: 1px 6px !important;
    .iconBag {
        fill: #fff;
    }
    .tbd {
        background-color: $ob-orange !important;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 1px;
        font-size: 12px;
        color: #fff !important;
        text-align: center;
        position: absolute;
        right: -4px;
        top: 0;
    }
}

.mainLogo {
    width: 144px;
    .logoLink {
        height: 100%;
    }
    
}

.cartRentalLogo {
    fill: #fff;
}

.heroFormContainer {
    p, h3 {
        margin-bottom: 0;
    }
}

